.html-body-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0;
  margin: 0;
  height: 100vm;
}

/* Left column styling starts here. */

.left-column-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 100vh;
}

.left-column-header {
  background-color: #222;
  height: 60px;
}

.left-column-section {
  background-color: #333;
  flex-grow: 1;
}

.left-column-footer {
  background-color: #222;
  height: 60px;
}

/* Main section styling starts here. */

.main-section-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Main header styling starts here. */

.main-header-container {
  height: 60px;
  display: flex;
}

.main-header-nav {
  background-color: pink;
  width: 60px;
  display: none;
  cursor: pointer;
}

.main-header-section {
  background-color: #333;
  flex-grow: 1;
}

/* Main body styling starts here. */

.mobile-drop-down {
  background-color: #444;
  transition: .2s;
  display: none;
  height: 0px;
}

.main-section-body {
  background-color: #191919;
  flex-grow: 1;
}

/* Responsive styling starts here. */

@media only screen and (max-width: 1000px) {
  .left-column-container{
    display: none;
  }

  .main-header-nav {
    display: block;
  }

  .mobile-drop-down {
    display: block;
  }
}