.left-column-container {
  border-color: ;
  height: ;
  width: ;
}

.left-column-header {
  border-color: ;
  height: ;
  width: ;
}

.left-column-section {
  border-color: ;
  height: ;
  width: ;
}

.left-column-footer {
  border-color: ;
  height: ;
  width: ;
}

.main-section-container {
  border-color: ;
  height: ;
  width: ;
}

.main-header-container {
  border-color: ;
  height: ;
  width: ;
}

.main-header-nav {
  border-color: ;
  height: ;
  width: ;
}

.main-header-section {
  border-color: ;
  height: ;
  width: ;
}

.main-section-body {
  border-color: ;
  height: ;
  width: ;
}
