.left-column-container {
  border: 2px solid royalblue;
  height: ;
  width: ;
}

.left-column-header {
  border: 2px solid pink;
  height: ;
  width: ;
}

.left-column-section {
  border: 2px solid olive;
  height: ;
  width: ;
}

.left-column-footer {
  border: 2px solid orange;
  height: ;
  width: ;
}

.main-section-container {
  border: 2px solid slategrey;
  height: ;
  width: ;
}

.main-header-container {
  border: 2px solid sienna;
  height: ;
  width: ;
}

.main-header-nav {
  border: 2px solid slateblue;
  height: ;
  width: ;
}

.main-header-section {
  border: 2px solid coral;
  height: ;
  width: ;
}

.main-section-body {
  border: 2px solid palevioletred;
  height: ;
  width: ;
}
