.graph-race {
  margin-bottom: 200px;
}
.graph-gender {

}

.graph-keywords {
  overflow: visible;
  width: 900px;
  height: 675px;
  z-index: -1;
}

.finding-shows-div {
  fill: rgb(206, 164, 219);
}

.word-cloud-div {
  fill: cornflowerblue;
}

.gallery-spaces-div {
  fill: rgb(255, 163, 179)
}


/* .graph-found-survey {} */
/* .graph-orientation {} */
/* .graph-age {} */